@font-face { font-family: 'Solid_Stencil_2023'; src: url('../sources/fonts/Solid_Stencil_2023.ttf'); } 
@media only screen and (min-width: 768px) {
    /* For desktop: */
        body h1 {
            margin-top: 20px;
            text-align: center;
        }
    }

/* For mobile phones/tablets: */
@media only screen and (max-width: 767px) {
    /* body h1 {
        margin: 127px 0px 44px 0px;
        text-align: center;
        transform: rotate(358deg);
    } */
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
      top: 0px;
    }
    50% {
      top: -8px;
    }
    100% {
      top: 0px;
    }
}

.title-text {
    text-align: center;
}

.title-text img {
    display: inline;
    width: 40px;
    margin-bottom: -5px;
}

.title-text h1 {
    display: inline;
}

.game-options {
    margin-top: 10%;
    width: 100%;
    display: inline-flex;
}

.game-options .option-btn {
    width: 25%;
    text-align: center;
    margin: 10px;
    color: #111111;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color: rgb(216, 223, 220);
    box-shadow: 2px 15px 13px -5px rgba(0,0,0,0.75);
    font-size: 25px;
    font-weight: 700;
}

.game-options .option-btn:hover {
    background-size: cover;
    background-position: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #444444;
}

.game-options .option-btn.easy:hover {
    background-image: url("https://i.pinimg.com/originals/07/d0/1b/07d01b67455c637cfe6e4c6fc5aa099d.gif");
    color: greenyellow;
}

.game-options .option-btn.medium:hover {
    background-image: url("https://i.pinimg.com/originals/91/95/f4/9195f4dd1b69f90038f627c8af422429.gif");
    color: yellow;
}

.game-options .option-btn.hard:hover {
    background-image: url("https://i.pinimg.com/originals/b7/21/34/b72134112b54864e4948865375ecbb11.gif");
    color: red;
}

.game-options .option-btn.rufino:hover {
    background-image: url("https://media.tenor.com/6hn_hy3bBtIAAAAi/fire-demon.gif");
    color: white;
}

.game-board {
    width: 80%;
    margin: auto;
}

.game-board .board-header {
    display: inline-flex;
    width: 100%;
}

.game-board .board-header .return {
    width: 50%;
}

.game-board .board-header .score {
    width: 50%;
}

.game-board .board-header .score h3 {
    margin-top: 0px;
    float: right;
}

.game-board #game-active {
    text-align: center;
}

.game-board #game-active .row {
    display: inline-block;
}

.game-board #game-active .row .square {
    display: table;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-color: black;
}

.game-board #game-active .row .square p {
    display: table-cell;
    vertical-align: middle;
}