@font-face { font-family: 'Solid_Stencil_2023'; src: url('../sources/fonts/Solid_Stencil_2023.ttf'); }
@font-face { font-family: 'Seven Segment'; src: url('../sources/fonts/Seven_Segment.ttf'); }
@media only screen and (min-width: 768px) {
    /* For desktop: */
        body h1 {
            margin-top: 20px;
            text-align: center;
        }
    }

/* For mobile phones/tablets: */
@media only screen and (max-width: 767px) {
    /* body h1 {
        margin: 127px 0px 44px 0px;
        text-align: center;
        transform: rotate(358deg);
    } */
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
      top: 0px;
    }
    50% {
      top: -8px;
    }
    100% {
      top: 0px;
    }
}

.title-text {
    text-align: center;
}

.title-text img {
    display: inline;
    width: 40px;
    margin-bottom: -5px;
}

.title-text h1 {
    display: inline;
}

.game-options {
    margin-top: 10%;
    width: 100%;
    display: inline-flex;
}

.game-options .option-btn {
    width: 25%;
    text-align: center;
    margin: 10px;
    color: #111111;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color: rgb(216, 223, 220);
    box-shadow: 2px 15px 13px -5px rgba(0,0,0,0.75);
    font-size: 25px;
    font-weight: 700;
}

.game-options .option-btn:hover {
    background-size: cover;
    background-position: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #444444;
}

.game-options .option-btn.easy:hover {
    background-image: url("https://i.pinimg.com/originals/07/d0/1b/07d01b67455c637cfe6e4c6fc5aa099d.gif");
    color: greenyellow;
}

.game-options .option-btn.medium:hover {
    background-image: url("https://i.pinimg.com/originals/91/95/f4/9195f4dd1b69f90038f627c8af422429.gif");
    color: yellow;
}

.game-options .option-btn.hard:hover {
    background-image: url("https://i.pinimg.com/originals/b7/21/34/b72134112b54864e4948865375ecbb11.gif");
    color: red;
}

.game-options .option-btn.rufino:hover {
    background-image: url("https://media.tenor.com/6hn_hy3bBtIAAAAi/fire-demon.gif");
    color: white;
}

.game-board {
    width: 80%;
    margin: auto;
}

.game-board .board-header {
    display: inline-flex;
    width: 100%;
}

.game-board .board-header .return {
    width: 50%;
}

.game-board #game-active {
    justify-content: center;
    display: flex;
}

.game-board #game-active .game-case {
    padding: 10px;
    border: 3px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
    background-color: #c0c0c0;
}

.game-board #game-active .game-case .case-header {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid;
    border-top-color: #7e7e7f;
    border-left-color: #7e7e7f;
    border-right-color: #fafffe;
    border-bottom-color: #fafffe;
}

.game-board #game-active .game-case .case-header .timer,
.game-board #game-active .game-case .case-header .score {
    width: 38%;
}

.game-board #game-active .game-case .case-header p.numbers {
    margin: 3px;
    font-family: 'Seven Segment';
    font-size: 28px;
    background-color: black;
    color: orangered;
    text-shadow: 0px 0px 7px rgba(255,116,64,0.95);
    border: 2px solid;
    border-top-color: #7e7e7f;
    border-left-color: #7e7e7f;
    border-right-color: #fafffe;
    border-bottom-color: #fafffe;
}

.game-board #game-active .game-case .case-header .timer p {
    float: left;
}

.game-board #game-active .game-case .case-header .score p {
    float: right;
}

.game-board #game-active .game-case .case-header .emoji {
    width: 24%;
    height: fit-content;
    display: ruby;
    text-align: center;
}

.game-board #game-active .game-case .case-header p.emojip {
    margin: 3px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 26px;
    text-align: center;
    border: 2px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
}

.game-board #game-active .game-case .gameplay,
.game-board #game-active .game-case .gameplay-header {
    display: flex;
    width: fit-content;
    border: 3px solid;
    border-top-color: #7e7e7f;
    border-left-color: #7e7e7f;
    border-right-color: #fafffe;
    border-bottom-color: #fafffe;
}

.game-board #game-active .game-case .gameplay .row {
    display: inline-block;
}

.game-board #game-active .game-case .gameplay .row .square {
    display: table;
    width: 25px;
    height: 25px;
    border: 3px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
    background-color: #c0c0c0;
}

.game-board #game-active .game-case .gameplay .row .square.around-1 {
    color: blue;
}

.game-board #game-active .game-case .gameplay .row .square.around-2 {
    color: green;
}

.game-board #game-active .game-case .gameplay .row .square.around-3 {
    color: red;
}

.game-board #game-active .game-case .gameplay .row .square.around-4 {
    color: darkblue;
}

.game-board #game-active .game-case .gameplay .row .square.around-5 {
    color: darkred;
}

.game-board #game-active .game-case .gameplay .row .square.around-6 {
    color: darkgreen;
;
}

.game-board #game-active .game-case .gameplay .row .square.around-7 {
    color: darkgoldenrod;
}

.game-board #game-active .game-case .gameplay .row .square.around-7 {
    color: darkmagenta;
}

.game-board #game-active .game-case .gameplay .row .square p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}