@font-face { font-family: 'Solid_Stencil_2023'; src: url('../sources/fonts/Solid_Stencil_2023.ttf'); }
@font-face { font-family: 'Seven Segment'; src: url('../sources/fonts/Seven_Segment.ttf'); }

@media only screen and (min-width: 768px) {
    /* For desktop: */
        body h1 {
            margin-top: 20px;
            text-align: center;
        }
    }

/* For mobile phones/tablets: */
@media only screen and (max-width: 767px) {
    /* body h1 {
        margin: 127px 0px 44px 0px;
        text-align: center;
        transform: rotate(358deg);
    } */
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
      top: 0px;
    }
    50% {
      top: -8px;
    }
    100% {
      top: 0px;
    }
}

.title-text {
    text-align: center;
}

.title-text img {
    display: inline;
    width: 40px;
    margin-bottom: -5px;
}

.title-text h1 {
    display: inline;
}

.game-options {
    margin-top: 10%;
    width: 100%;
    display: inline-flex;
}

.game-options .option-btn {
    width: 25%;
    text-align: center;
    margin: 10px;
    color: #111111;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color: rgb(216, 223, 220);
    box-shadow: 2px 15px 13px -5px rgba(0,0,0,0.75);
    font-weight: 700;
}

.game-options .option-btn p.title {
    font-size: 25px;
    margin-bottom: 0px;
}

.game-options .option-btn p.b-quantity {
    font-size: small;
    margin: 0px;
    padding: 0px;
    color: #616161;
    padding-top: 5px;
    margin-bottom: 25px;
}

.game-options .option-btn:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #444444;
}

.game-options .option-btn.easy:hover {
    background-image: url("../sources/images/easy-bg.gif");
    color: greenyellow;
}

.game-options .option-btn.medium:hover {
    background-image: url("../sources/images/medium-bg.gif");
    color: yellow;
}

.game-options .option-btn.hard:hover {
    background-image: url("../sources/images/hard-bg.gif");
    color: red;
}

.game-options .option-btn.rufino:hover {
    background-image: url("../sources/images/rufino-bg.gif");
    color: white;
}

.secret {
    border: 2px solid #ccc;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 10% 25%;
    width: 30%;
    height: 15%;
    overflow: auto;
    background: rgba(100, 100, 100, 0.8);
    padding: 5% 10%;
}

.secret h2{
    color: #FFF;
    text-align: center;
}

.secret .input-code {
    width: 100%;
    text-align: center;
}

.flag-notification {
    position: fixed;
    z-index: 1;
    left: 1;
    top: 0;
    overflow: auto;
}

.flag-notification p {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.8);
    width: 20px;
    height: 20px;
    padding: 10px;
}

.game-board {
    width: 80%;
    margin: auto;
}

.game-board .board-header {
    display: inline-flex;
    width: 100%;
}

.game-board .board-header .return {
    width: 50%;
}

.game-board #game-active {
    justify-content: center;
    display: flex;
}

.game-board #game-active .game-case {
    padding: 10px;
    border: 3px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
    background-color: #c0c0c0;
}

.game-board #game-active .game-case .case-header {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid;
    border-top-color: #7e7e7f;
    border-left-color: #7e7e7f;
    border-right-color: #fafffe;
    border-bottom-color: #fafffe;
}

.game-board #game-active .game-case .case-header .timer,
.game-board #game-active .game-case .case-header .score {
    width: 35%;
}

.game-board #game-active .game-case .case-header p.timer-numbers,
.game-board #game-active .game-case .case-header p.score-numbers {
    min-width: -webkit-fill-available;
    margin: 6px;
    padding: 0px 4px;
    font-family: 'Seven Segment';
    font-size: 28px;
    background-color: black;
    color: orangered;
    text-shadow: 0px 0px 7px rgba(255,116,64,0.95);
    border: 2px solid;
    border-top-color: #7e7e7f;
    border-left-color: #7e7e7f;
    border-right-color: #fafffe;
    border-bottom-color: #fafffe;
}

.game-board #game-active .game-case .case-header .timer p {
    float: left;
}

.game-board #game-active .game-case .case-header .score p {
    float: right;
    text-align: right;
}

.game-board #game-active .game-case .case-header .emoji {
    width: 30%;
    height: fit-content;
    display: ruby;
    text-align: center;
}

.game-board #game-active .game-case .case-header p.emojip {
    display: inline-table;
    margin: 3px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 26px;
    text-align: center;
    border: 2px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
    cursor: pointer;
}

.game-board #game-active .game-case .gameplay,
.game-board #game-active .game-case .gameplay-header {
    display: flex;
    width: fit-content;
    border: 3px solid;
    border-top-color: #7e7e7f;
    border-left-color: #7e7e7f;
    border-right-color: #fafffe;
    border-bottom-color: #fafffe;
}

.game-board #game-active .game-case .gameplay .row {
    display: inline-block;
}

.game-board #game-active .game-case .gameplay .row .square {
    display: table;
    width: 25px;
    height: 25px;
    border: 3px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
    background-color: #c0c0c0;
    cursor: pointer;
}

.game-board #game-active .game-case .gameplay .row .square-flag {
    display: none;
    /* display: table; */
    width: 25px;
    height: 25px;
    border: 3px solid;
    border-top-color: #fafffe;
    border-left-color: #fafffe;
    border-right-color: #7e7e7f;
    border-bottom-color: #7e7e7f;
    background-color: #c0c0c0;
    cursor: pointer;

    margin-bottom: -31px;
    position: sticky;
}

.game-board #game-active .game-case .gameplay .row .square-flag p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.game-board #game-active .game-case .gameplay .row .square.around-1 {
    color: blue;
}

.game-board #game-active .game-case .gameplay .row .square.around-2 {
    color: green;
}

.game-board #game-active .game-case .gameplay .row .square.around-3 {
    color: red;
}

.game-board #game-active .game-case .gameplay .row .square.around-4 {
    color: darkblue;
}

.game-board #game-active .game-case .gameplay .row .square.around-5 {
    color: darkred;
}

.game-board #game-active .game-case .gameplay .row .square.around-6 {
    color: darkgreen;
;
}

.game-board #game-active .game-case .gameplay .row .square.around-7 {
    color: darkgoldenrod;
}

.game-board #game-active .game-case .gameplay .row .square.around-7 {
    color: darkmagenta;
}

.game-board #game-active .game-case .gameplay .row .square p {
    display: none;
    /* display: table-cell; */
    text-align: center;
    vertical-align: middle;
}

.game-board #game-active .game-case .gameplay .row .square.showing {
    background-color: #B2B2B2 !important;
    padding: 2px !important;
    border: 1px solid !important;
    border-color: #7e7e7f !important;
    cursor: default;
}

.game-board #game-active .game-case .gameplay .row .square.showing p {
    display: table-cell !important;
}

/* códigos */
.game-board.code1 #game-active .game-case .gameplay .row .square.bomb {
    background-color: red !important;
}
