#scenary {
    background: url('../sources/images/paulinpim-game/paulin_bg.png');
}

#scenary #character {
    margin: auto;
}

.work {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_work.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    animation: working 0.3s steps(2) infinite;
}

.still {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_still.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.look {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_look.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    animation: looking 0.3s steps(2) infinite;
}

@keyframes working {
    from { background-position: 0px; }
    to { background-position: -512px; }
}

@keyframes looking {
    from { background-position: 0px; }
    to { background-position: -512px; }
}