@font-face { font-family: 'Seven Segment'; src: url('../sources/fonts/Seven_Segment.ttf'); }

.align_center {
    text-align: center;
    padding: 0px;
}

.hide {
    display: none !important;
}

#main-menu {
    width: 100%;
    height: 512px;
    background: url('../sources/images/paulinpim-game/game-menu.png');
    background-repeat: no-repeat;
    background-color: #2b2a3f;
}

#main-menu h1 {
    text-align: center;
    color: #FFF;
    font-family: 'Bebas Neue';
}

#main-menu .menu-actions {
    width: 30%;
    float: right;
    padding-top: 100px;
}

#main-menu .menu-actions button {
    width: 80%;
    display: inline;
    color: #FFF;
    border: 1px solid;
    border-color: black;
    border-radius: 100px 0px 0px 30px;
    margin-bottom: 2px;
}

#main-menu .menu-actions button#iniciar-jogo {
    background-color: rgb(51, 163, 51);
}

#main-menu .menu-actions button#iniciar-speedrun {
    background-color: rgb(190, 183, 85);
}

#main-menu .menu-actions button#password {
    background-color: rgb(50, 83, 148);
    text-decoration: line-through;
}

#scenary {
    background: url('../sources/images/paulinpim-game/paulin_bg.png');
}

#scenary #character {
    margin: auto;
}

#game-actions div.row {
    margin: 0px;
    width: 100%;
}

#game-actions .coluna-up-1,
#game-actions .coluna-up-2,
#game-actions .coluna-up-3,
#game-actions .coluna-up-4 {
    border: 3px solid;
    border-radius: 5px;
}

#game-actions .coluna-up-1 {
    border-color: rgba(0, 211, 0, 0.1);
}

#game-actions .coluna-up-2 {
    border-color: rgba(132, 0, 255, 0.1);
}

#game-actions .coluna-up-3 {
    border-color: rgba(255, 0, 242, 0.1);
}

#game-actions .coluna-up-4 {
    border-color: rgba(255, 174, 0, 0.1);
}

#game-actions .card {
    display: inline-table;
    background-color: unset;
    border: none;
}

#game-actions .card .col-md-6 {
    display: table-cell;
}

#game-actions button {
    display: block;
    color: #FFF;
    border: none;
    border-radius: 8px;
    background: transparent;
    position: relative;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;

    width: fit-content;
    margin: 10px auto auto auto;
}

#game-actions button .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

#game-actions button.main-action:focus-visible {
    outline:none;
}

#game-actions button.main-action .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
    );
}

#game-actions button.main-action .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

#game-actions button.store-action:focus-visible {
    outline:none;
}

#game-actions button.store-action .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(135deg 100% 16%) 0%,
        hsl(135deg 100% 32%) 8%,
        hsl(135deg 100% 32%) 92%,
        hsl(135deg 100% 16%) 100%
    );
}

#game-actions button.store-action .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(135deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);

    height: 30px;
    background: url('../sources/images/paulinpim-game/paulin_store.png') 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}

#game-actions button.secondary-action .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(231deg 100% 16%) 0%,
        hsl(231deg 100% 32%) 8%,
        hsl(231deg, 100%, 32%) 92%,
        hsl(231deg 100% 16%) 100%
    );
}

#game-actions button.secondary-action .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(231, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

#game-actions button.unique-action .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(44deg, 100%, 32%) 8%,
        hsl(44deg 100% 16%) 0%,
        hsl(44deg, 100%, 32%) 92%,
        hsl(44deg 100% 16%) 100%
    );
}

#game-actions button.unique-action .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(44deg, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

#game-actions .upgrade-progress {
    text-align: center;
}

#game-actions .card .value {
    background-color: #fce8a3;
    border: 1px solid #cb9d00;
    width: fit-content;
    display: inline-block;
    padding: 2px 10px;
    margin-top: 4px;
    border-radius: 4px;
}

#game-actions .upgrade-progress .progress-info {
    position: relative;
    z-index: 2;
    margin-bottom: -20px;
}

#game-actions .upgrade-progress .progress-bar {
    background-color: #50a5ff;
}

#game-actions .upgrade-progress .progress {
    margin: 0px 0px;
}

#game-actions .upgrade-description p {
    font-size: small;
    color: #282828;
    text-decoration: underline;
}

#game-actions button:hover {
    filter: brightness(110%);
}

#game-actions button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

#game-actions button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

#game-actions button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

#game-actions button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

#game-actions button:focus:not(:focus-visible) {
    outline: none;
}

.overlay {
    position: absolute;
    margin:0 !important;
    padding: 0px 10px;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 60px;
    margin: 5px;
}

.overlay .status {
    display: inline;
}

.overlay .status img {
    display: inline-block;
    width: 30px;
}

.overlay .status p {
    display: inline-block;
    color: #FFF;
    font-size: 28px;
    vertical-align: middle;
    margin: auto 5px;
}

#timer {
    color: #FFF;
    display: inline-flex;
    font-size: 30px;
    float: right;
    font-family: 'Seven Segment';
}

#timer p {
    width: 30px;
    text-align: center;
    text-shadow: #000 1px 0 10px;
}

#timer b {
    margin-top: -20px;
    font-weight: normal;
    font-size: 45px;
    text-shadow: #000 1px 0 10px;
}

#end-run {
    border: 2px solid #FFF;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 1);
    margin: 10% 37%;
    padding: 10px;
    width: 500px;
    height: 200px;
    overflow: auto;
    overflow-y: hidden;
}

#end-run .close-end-popup {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #5c5c5c;
    margin: 10px 10px 0px 0px;
    font-family: cursive;
    cursor: pointer;
}

#end-run h5 {
    text-align: center;
}

#end-run p.resultado_run {
    text-align: center;
}

/* Animações */
.still {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_still.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.work {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_work.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    animation: working 0.3s steps(2) infinite;
}

.still_spotify {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_still_spotify.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.work_spotify {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_work_spotify.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    animation: working_spotify 2.0s steps(6) infinite;
}

.look {
    width: 256px;
    height: 256px;
    background: url('../sources/images/paulinpim-game/paulin_look.png') 0px 0px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    animation: looking 0.3s steps(2) infinite;
}

@keyframes working {
    from { background-position: 0px; }
    to { background-position: -512px; }
}

@keyframes working_spotify {
    from { background-position: 0px; }
    to { background-position: -1536px; }
}

@keyframes looking {
    from { background-position: 0px; }
    to { background-position: -512px; }
}