
body {
    margin: 0px;
}

.top-menu {
    background: linear-gradient(0deg, rgba(80,80,80,1) 0%, rgba(82,82,82,1) 50%, rgba(80,80,80,1) 100%); 
    img {
        height: 50px;
    };
    position: relative;
    z-index: 999 !important;
    padding: 5px;

    div.link {
        width: fit-content;
        padding: 2px;
        background-color: rgba(80, 80, 80, 1);
        border-radius: 5px;
    }

    div.link.active {
        width: fit-content;
        padding: 2px;
        background-color: rgba(90, 90, 90, 1);
        border-right: 2px rgba(80, 80, 80, 1);
        border-radius: 5px;
    }
}