
.top-menu {
    background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 50%, rgba(236,236,236,1) 100%); 
    img {
        height: 50px;
    }

    div.link {
        width: fit-content;
        padding: 2px;
        box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.50);
    }
}